@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    background-color: #dadada;
    color: #212121;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

footer {
    text-align: right;
    padding: 0.2em 1ch;
    font-size: 0.8rem;
    background-color: #fff;
}
