#overlay-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);  /* TODO */
    z-index: 1000;
}

#overlay-loading > span {
    display: block;
    font-family: monospace;
    font-size: 4vw;
    position: absolute;
    left: calc(50% - 7ch / 2);
    top: calc(50% - 0.5em);
}
