<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoist Paper</title>
    <link rel="stylesheet" href="/css/loading.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <!-- <link rel="stylesheet" href="/css/todo.css" type="text/css"> -->
    <link rel="stylesheet" href="/css/todo-redesigned.css" type="text/css">
    <link rel="stylesheet" href="/css/language-support.css" type="text/css">
    <link rel="stylesheet" href="/css/pagination.css" type="text/css">
</head>
<body>
<div id="content-main">
    {% for li in litems %}
    <section class="todo-item">
        <div class="todo-item-name">
            <span class="todo-item-name_en">
                {{ li['name'] }}
            </span>
            <span class="lang-zh todo-item-name_zh">
                {{ li['name-zh'] }}
            </span>
        </div>
        <div class="todo-item-meta-container">
            {% if li['due'] %}
            <svg class="indicator-inline icon" viewBox="0 0 24 24" fill="#212121">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/>
            </svg>
            <span class="todo-item-due-meta">
                {{ li['due'] }}
            </span>
            {% endif %}

            {% if li['time_required'] %}
            <svg class="indicator-inline icon" viewBox="0 0 24 24" fill="#212121">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
                <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
            </svg>
            <span class="todo-item-time-meta">
                {{ timedelta2readable(seconds=li['time_required']) }}
            </span>
            {% endif %}
        </div>
    </section>
    {% endfor %}
</div>
<div class="pager">
    <a id="pager-most-previous" href="{{ pagination['first_page_url'] }}" class="nav-btn nav-most-previous">«</a>
    <a id="pager-previous" href="{{ pagination['prev_page_url'] }}" class="nav-btn nav-previous">‹</a>
    <a id="pager-next" href="{{ pagination['next_page_url'] }}" class="nav-btn nav-next">›</a>
    <a id="pager-most-next" href="{{ pagination['last_page_url'] }}" class="nav-btn nav-most-next">»</a>
    <br>
    <span>Page {{ pagination.page }} / {{ pagination.totalPages }}</span>
</div>

<footer>
    <span>
        Todoist Paper v0.0.1
        &nbsp;&nbsp;&nbsp;&nbsp;
        &copy; Oliver Chen, 2020
        &nbsp;&nbsp;&nbsp;&nbsp;
        Last sync: {{ currTime() }}
    </span>
</footer>
<!--
Loading sign sometimes not removed
<div id="overlay-loading">
    <span>Loading</span>
</div>
-->
<!-- <script src="/js/loading.js" type="application/javascript"></script> -->
<!--<script src="/js/index.js" type="application/javascript"></script>-->
<!--<script src="/js/height-api.js" type="application/javascript"></script>-->
<!--<script src="/js/pagination.js" type="application/javascript"></script>-->
<script>
    document.body.addEventListener('touchstart', function (e) {
        e.preventDefault();
    });
</script>
</body>
</html>
