<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoist Paper</title>
    <link rel="stylesheet" href="/css/loading.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <!-- <link rel="stylesheet" href="/css/todo-comfortable.css" type="text/css"> -->
    <link rel="stylesheet" href="/css/todo-compact.css" type="text/css">
    <link rel="stylesheet" href="/css/language-support.css" type="text/css">
    <link rel="stylesheet" href="/css/pagination.css" type="text/css">
</head>
<body>
<div id="content-main">
    {% for li in litems %}
    <section class="todo-item {{ 'done' if li['done'] else '' }}">
        {% if li['done'] %}
        <img    class="icon todo-item-name-prefix"
                src="https://github.com/google/material-design-icons/blob/master/png/toggle/check_box/materialicons/48dp/1x/baseline_check_box_black_48dp.png?raw=true"
                alt="done">
        {% else %}
        <img    class="icon todo-item-name-prefix"
                src="https://github.com/google/material-design-icons/blob/master/png/toggle/check_box_outline_blank/materialicons/48dp/1x/baseline_check_box_outline_blank_black_48dp.png?raw=true"
                alt="not done">
        {% endif %}
        <div class="todo-item-name">
            <span class="todo-item-name_en">
                {{ li['name'] }}
            </span>
            <span class="lang-zh todo-item-name_zh">
                {{ li['name-zh'] }}
            </span>
        </div>
        <div class="todo-item-meta-container">
            {% if li['priority'] != 1 %}
            <span class="todo-item-meta-item">
                <img    class="icon"
                        src="https://github.com/google/material-design-icons/blob/master/png/notification/priority_high/materialicons/48dp/1x/baseline_priority_high_black_48dp.png?raw=true"
                        alt="priority">
                <span class="todo-item-time-meta">
                    {{ 5 - li['priority'] }}
                </span>
            </span>
            {% endif %}

            {% if li['due'] %}
            <span class="todo-item-meta-item">
                <!-- <i class="icon-calendar">&#xE935;</i> -->
                <img    class="icon"
                        src="https://github.com/google/material-design-icons/blob/master/png/action/calendar_today/materialicons/48dp/1x/baseline_calendar_today_black_48dp.png?raw=true"
                        alt="due">
                <span class="todo-item-due-meta">
                    {{ li['due'] }}
                </span>
            </span>
            {% endif %}

            {% if li['time_required'] %}
            <span class="todo-item-meta-item">
                <!-- <i class="icon-clock">&#xE8B5;</i> -->
                <img    class="icon"
                        src="https://github.com/google/material-design-icons/blob/master/png/action/schedule/materialicons/48dp/1x/baseline_schedule_black_48dp.png?raw=true"
                        alt="time required">
                <span class="todo-item-time-meta">
                    {{ timedelta2readable(seconds=li['time_required']) }}
                </span>
            </span>
            {% endif %}

            {% if li['computer_time_required'] %}
            <span class="todo-item-meta-item">
                <img    class="icon"
                        src="https://github.com/google/material-design-icons/blob/master/png/hardware/laptop/materialicons/48dp/1x/baseline_laptop_black_48dp.png?raw=true"
                        alt="computer time required">
                <span class="todo-item-time-meta">
                    {{ timedelta2readable(seconds=li['computer_time_required']) }}
                </span>
            </span>
            {% endif %}

            {% if li['date_completed'] %}
            <span class="todo-item-meta-item">
                <img    class="icon"
                        src="https://github.com/google/material-design-icons/blob/master/png/action/assignment_turned_in/materialicons/48dp/1x/baseline_assignment_turned_in_black_48dp.png?raw=true"
                        alt="date completed">
                <span class="todo-item-time-meta">
                    {{ li['date_completed'] }}
                </span>
            </span>
            {% endif %}
        </div>
    </section>
    {% endfor %}
</div>
<div class="pager">
    <a id="pager-most-previous" href="{{ pagination['first_page_url'] }}" class="nav-btn nav-most-previous">«</a>
    <a id="pager-previous" href="{{ pagination['prev_page_url'] }}" class="nav-btn nav-previous">‹</a>
    <a id="pager-next" href="{{ pagination['next_page_url'] }}" class="nav-btn nav-next">›</a>
    <a id="pager-most-next" href="{{ pagination['last_page_url'] }}" class="nav-btn nav-most-next">»</a>
    <br>
    <span>Page {{ pagination.page }} / {{ pagination.totalPages }}</span>
</div>

<footer>
    <span>
        Todoist Paper v0.0.1
        &nbsp;&nbsp;&nbsp;&nbsp;
        &copy; Oliver Chen, 2020
        &nbsp;&nbsp;&nbsp;&nbsp;
        Last sync: {{ currTime() }}
    </span>
</footer>
<!--
Loading sign sometimes not removed
<div id="overlay-loading">
    <span>Loading</span>
</div>
-->
<!-- <script src="/js/loading.js" type="application/javascript"></script> -->
<!--<script src="/js/index.js" type="application/javascript"></script>-->
<!--<script src="/js/height-api.js" type="application/javascript"></script>-->
<!--<script src="/js/pagination.js" type="application/javascript"></script>-->
</body>
</html>
